@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.attribution { color:white; font-size: 11px; text-align: center; }


* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: hsl(47, 88%, 63%);;
    color:  hsl(0, 0%, 7%);
    font-size: 16px;
    font-family: "Figtree", serif;
    font-weight: 500;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white
}

.container {
    height: 100vh;
    padding: 5rem 1.5rem   
}

.content {
    background-color: hsl(0, 0%, 100%);
    height: auto;
    padding: 1.5rem;
    border-radius: 1rem;
    border: solid hsl(0, 0%, 7%) 1px;
    box-shadow: 8px 8px  hsl(0, 0%, 7%);
 
}

header img {
    width: 100%;
    border-radius: 0.5rem;
}

header button {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    background-color:  hsl(47, 88%, 63%);
    font-weight: 800;
}

header p {
    font-weight: 500;
    font-size: 14px;
}

.main-section h2 {
    font-weight: 800;
    margin: 1.5rem 0;
}

.main-section h2:hover,
.main-section h2:focus {
    color:  hsl(47, 88%, 63%);
    cursor: pointer;
}
.main-section p {
    color: hsl(0, 0%, 42%);
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.main-section div {
    display: flex;
    gap: 0.7rem;  
}
.main-section img {
    height: 2.5rem;
}
.main-section div p {
    font-weight: 800;
    color:inherit; 
    margin-top: 0.5rem;
}

@media (min-width: 700px) {
    .container {
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;  
        padding-top: 10rem;  
    }

    .content {
        width: 40%;
    }
}
